@using EntityLayer.Concrate
@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Blog Page</h1>
<br />
<table>
    <tr>
        <td>ID</td>
        <td>Title</td>
    </tr>
    @foreach(var item in Model)
            {
               <tr>
                   <td>@item.BlogID</td>
                   <td>@item.BlogTitle</td>
               </tr>
            }
</table>
