
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h2>Kendi olusturdugumuz view sayfası</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>10877809224</td>
        <td>Numan</td>
        <td>IT Dep</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ali</td>
        <td>IT Dep</td>
    </tr>
</table>